<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/game.css" />
    <link rel="stylesheet" href="../styles/tetris_cells.css" />
    <title>Fold Figures</title>
  </head>
  <body>
    <div class="wrapper hidden">
      <div class="top">
        <a href="./main.html" class="home button">
          <img src="../png/home.png" alt="home" />
        </a>

        <div class="top_block best_cont">
          <div class="top_block_text">best</div>
          <div class="best"></div>
        </div>

        <div class="top_block score_cont">
          <div class="top_block_text">score</div>
          <div class="score">0</div>
        </div>
      </div>

      <div class="table block">
        <table>
          <tbody class="field"></tbody>
        </table>
      </div>

      <div class="controller">
        <div class="arrows">
          <img src="../png/home.png" alt="arrow" class="arrow Up" />
          <img src="../png/home.png" alt="arrow" class="arrow Down" />
          <img src="../png/home.png" alt="arrow" class="arrow Left" />
          <img src="../png/home.png" alt="arrow" class="arrow Right" />
        </div>
      </div>
    </div>

    <script src="../scripts/tetris.js" type="module"></script>
  </body>
</html>
