body {
  min-height: 800px;
}

.top {
  position: relative;
  height: 100px;

  padding-top: 5px;

  background: linear-gradient(180deg, #bb4edb 0%, #640380 100%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.home {
  position: absolute;
  left: 2%;
  top: 5px;

  width: 34px;
  height: 35px;

  transform-origin: top left;
}

.home img {
  width: 100%;
}

.top_block {
  margin-left: 50px;

  width: 276px;
  height: 38px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  text-transform: uppercase;

  background: rgba(91, 0, 118, 0.5);
  border: 1px solid #dc65ff;
  border-radius: 15px;
}

.top_block_text {
  width: 55px;
}

.score_cont {
  margin-top: 10px;
}

.best,
.score {
  font-size: 20px;
  width: 40%;
}

.table {
  margin: 20px auto auto;
  transform-origin: top;
}

.controller {
  position: absolute;
  left: 50%;
  bottom: 2%;

  transform: translateX(-50%);
  transform-origin: bottom;

  width: 100%;
  max-width: 420px;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.arrows {
  position: relative;
  width: 126px;
  height: 126px;
}

.arrow {
  width: 42px;
  height: 42px;
  background: url(../png/home.png) center/100% 100%;
}

.arrow.Up {
  position: absolute;
  top: 0;
  left: calc(50% - 23px);
  transform: rotate(90deg);
}

.arrow.Down {
  position: absolute;
  bottom: 0;
  left: calc(50% - 23px);
  transform: rotate(-90deg);
}

.arrow.Left {
  position: absolute;
  bottom: calc(50% - 23px);
  left: 0;
}

.arrow.Right {
  position: absolute;
  bottom: calc(50% - 23px);
  right: 0;
  transform: rotate(180deg);
}

@media screen and (max-width: 320px) {
  .top_block {
    width: 250px;
  }
}

@media screen and (min-width: 600px) and (orientation: portrait) {
  .home {
    transform: scale(1.3);
  }

  .controller {
    transform: translateX(-50%) scale(1.2);
  }

  .table {
    transform: scale(1.3);
  }

  .top_block {
    margin: auto;
  }

  .score_cont {
    margin-top: 10px;
  }
}

@media screen and (min-width: 800px) and (orientation: portrait) {
  .table {
    transform: scale(1.6);
  }

  .controller {
    transform: translateX(-50%) scale(2);
  }
}

@media screen and (min-width: 1200px) and (orientation: landscape) {
  .top_block {
    margin: auto;
  }

  .score_cont {
    margin-top: 10px;
  }

  .home {
    top: 20px;
  }
}
